@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Regular.eot');
    src: url('./assets/fonts/Inter/Inter-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('./assets/fonts/Inter/Inter-Regular.woff') format('woff'),
        url('./assets/fonts/Inter/Inter-Regular.svg#Inter-Regular')
            format('svg');
}

body {
    background: #f1f2f5;
    font-family: Inter;
}
